# Configuration file

~CONFIG_VERSION: 0.1.0

world-1101218876 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide ingredients by clicking them in the list.
    B:editEnabled=false
    S:filterText=@ic2 iron

    # Show the list of ingredients next to open guis.
    B:overlayEnabled=true
}


world-1165345702 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-1784436400 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lever
    B:overlayEnabled=true
}


world-2118890819 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=shelf
    B:overlayEnabled=true
}


world-450421014 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world-765651341 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=fishing
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=uranium
    B:overlayEnabled=true
}


world-867108958 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1262967632 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1455058787 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world219516823 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=galena
    B:overlayEnabled=true
}


world526843645 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText= ore -@underground
    B:overlayEnabled=true
}


world937103484 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world937103485 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world976272513 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


