# Configuration file

general {
    # Accuracy of silver pick [range 1 ~ 100, default 15]
    I:ALUMINUM_ACC=25

    # Accuracy of bronze pick [range 1 ~ 100, default 35]
    I:BRONZE_ACC=35

    # Accuracy of copper pick [range 1 ~ 100, default 10]
    I:COPPER_ACC=10

    # Accuracy of diamond pick [range 1 ~ 100, default 60]
    I:DIAMOND_ACC=50

    # Accuracy of stone pick [range 1 ~ 100, default 5]
    I:GOLD_ACC=15

    # Accuracy of invar pick [range 1 ~ 100, default 65]
    I:INVAR_ACC=45

    # Accuracy of iron pick [range 1 ~ 100, default 20]
    I:IRON_ACC=20

    # Accuracy of lead pick [range 1 ~ 100, default 10]
    I:LEAD_ACC=20

    # Accuracy of silver pick [range 1 ~ 100, default 15]
    I:SILVER_ACC=15

    # Accuracy of steel pick [range 1 ~ 100, default 80]
    I:STEEL_ACC=60

    # Accuracy of stone pick [range 1 ~ 100, default 5]
    I:STONE_ACC=5

    # Accuracy of tin pick [range 1 ~ 100, default 15]
    I:TIN_ACC=15

    # Accuracy of stone pick [range 1 ~ 100, default 5]
    I:WOOD_ACC=5

    # Radius for prospecting pick to scan for ores [range 1 ~ 32, default 12]
    I:globalRadius=12

    # The amount of ore (In percent of nearby stone) to qualify as a motherload [range 1 ~ 100, default 6]
    I:largeMin=6

    # The amount of ore (In percent of nearby stone) to qualify as a large sample [range 1 ~ 100, default 4]
    I:mediumMin=4

    # Should the prospecting pick scan for ore blocks in the stone above it?
    B:shouldScanAbove=false

    # The amount of ore (In percent of nearby stone) to qualify as a medium sample [range 1 ~ 100, default 2]
    I:smallMin=2

    # The amount of ore (In percent of nearby stone) to qualify as a small sample [range 1 ~ 100, default 1]
    I:traceMin=1
}


